body{
    background-color: violet;
}
h1{
    text-align:  center;
    font-size: 2.5em;
}
.contenedorMain{
    display:flex;
}
.contenedor{
    width: 400px;
    height: 400px;
    background: black;
    padding-left: 2%;
    margin-left: 2%;
}
h2{
    color: aliceblue;
}